.nav ul{
    display: flex;
    color: beige;
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    justify-content: flex-end;
    background-color: #61cf5a;
}
.nav li{
    margin: 25px;
}
.nav a{
    text-decoration: none;
    color: antiquewhite;
}
.nav a:hover{
    color: #61cf5a;
    background-color: #1b1212;
    padding: 10px;
    border-radius: 10px;
}
.nav button{
    background-color: #1b1212;
    color: #61cf5a;
    border: none;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida
    font-size: medium;                   
    border-radius: 10px;
    cursor: pointer;
}