#skills{
    background-color: black;
    

}
#skills h2 {
    text-align: center;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skills-container {
  display: flex;
    flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
  justify-content: center;
}
.skills-container .skill {
    display: flex;
  align-items: center;
  background-color: #1b1212 ;
  color: antiquewhite;
  padding: 5px 25px; 
  margin: 10px 20px;   
  border-radius: 5px;
  font-family: monospace;
  font-size: medium;
}
.skills-container .skill img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}